<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fajieyefu.com.luoxiang">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <user-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".service.UpdateCheckNews"/>
        <receiver android:name=".receiver.AutoUpdateReceiver"/>
        <activity android:name=".main.ShanpingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".main.LoginActivity">
        </activity>
        <activity android:name=".main.MainActivity" />
        <activity android:name=".main.ContractAuditActivity" />
        <activity android:name=".main.HistoryActivity"/>
        <activity android:name=".main.ModifyActivity"/>
        <activity android:name=".main.ContractInputPage1"/>
        <activity android:name=".main.ContractInputActivity"/>
        <activity android:name=".main.HistorySelectedActivity"/>
        <activity android:name=".main.ContractAuditDetailsActivity"/>
        <activity android:name=".main.HistoryDetailsActivity"/>
        <activity android:name=".main.ContractAnlysisActivity"/>
        <activity android:name=".main.StockCarListActivity"/>
        <activity android:name=".main.StockCarDetailsActivity"/>
        <activity android:name=".main.CustomerSelectActivity"/>
        <activity android:name=".main.StockContractInputActivity"/>
        <activity android:name=".main.AddCustomerActivity"/>
        <activity android:name=".main.ContractPreviewActivity"/>
    </application>

</manifest>