<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fajieyefu.com.luoxiang">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <user-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".service.UpdateCheckNews"/>
        <receiver android:name=".receiver.AutoUpdateReceiver"/>
        <activity android:name=".main.ShanpingActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".main.LoginActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".main.MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".main.ContractAuditActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".main.HistoryActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".main.ModifyActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".main.ContractInputPage1"
            android:screenOrientation="portrait"/>
        <activity android:name=".main.ContractInputActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".main.HistorySelectedActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".main.ContractAuditDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".main.HistoryDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".main.ContractAnlysisActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".main.StockCarListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".main.StockCarDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".main.CustomerSelectActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".main.StockContractInputActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".main.AddCustomerActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".main.ContractPreviewActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".main.SkeletonContractInput"
            android:screenOrientation="portrait"/>
        <activity android:name=".main.SkeletonPreviewActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".main.HistorySkeletonDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".main.SignatureActivity"
            android:screenOrientation="landscape"/>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="fajieyefu.com.luoxiang.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
        <service android:name=".service.DownLoadService"/>
        <activity android:name="com.zzti.fengyongge.imagepicker.PhotoPreviewActivity" />
        <activity android:name="com.zzti.fengyongge.imagepicker.PhotoSelectorActivity" />
        <activity android:name=".main.ClueManageActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>